includes:
  - ./vendor/nunomaduro/larastan/extension.neon

parameters:
  paths:
    - app
    - config
    - database
    - lang
    - packages
    - resources/views
    - routes
  excludePaths:
  level: 7 # https://phpstan.org/user-guide/rule-levels
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false
  treatPhpDocTypesAsCertain: false
  ignoreErrors:
    - '#Access to an undefined property (.*)Model(.*)#'
    - '#Function user\(\) never returns#'
